@page "/manajemenproduk/tambah"
@page "/manajemenproduk/edit/{id:int}"
@inject IProdukService ProdukService


@if(Id == null){
    <h3>Tambah Produk</h3>
}
else
{
    <PageTitle> Edit Data @prod.Nama</PageTitle>
    <h3> Edit produk @prod.Nama</h3>
}
<EditForm Model="prod" OnValidSubmit="HandleSubmit">
     <div class="form-group row">
         <label for="Nama"  class="col-sm-2 col-form-label">nama</label>
         <InputText id="Nama" @bind-Value="@prod.Nama" class="form-control"></InputText>
     </div>
    <div class="form-group row">
        <label for="Deskripsi" class="col-sm-2 col-form-label">deskripsi</label>
        <InputText id="Deskripsi" @bind-Value="@prod.Deskripsi" class="form-control"></InputText>
    </div>
    <div class="form-group row">
        <label for="HargaOriginal" class="col-sm-2 col-form-label">Harga original</label>
        <InputNumber id="hargaoriginal" @bind-Value="@prod.HargaOrginal" class="form-control"></InputNumber>
    </div>
    <div class="form-group row">
        <label for="harga" class="col-sm-2 col-form-label">harga</label>
        <InputNumber id="harga" @bind-Value="@prod.Harga" class="form-control"></InputNumber>
    </div>
    <div class="form-group row">
        <label for="Gambar" class="col-sm-2 col-form-label">Gambar</label>
        <InputText id="gm" @bind-Value="@prod.GambarUrl" class="form-control"></InputText>
    </div>
    <div class="form-group row">
        <label for="IsPublic" class="col-sm-2 col-form-label">Public?</label>
        <InputRadioGroup id="isPublic" @bind-Value="prod.IsPublic" class="form-check">
           <InputRadio Value="@true" class="form-check-input">ya</InputRadio>
           <InputRadio Value="@false" class="form-check-input">Tidak</InputRadio>
        </InputRadioGroup>
    </div>
    <div class="form-group row">
        <label for="IsDeleted" class="col-sm-2 col-form-label">Is Deleted?</label>
        <InputRadioGroup id="isPublic" @bind-Value="prod.IsDeleted" class="form-check">
            <InputRadio Value="@true" class="form-check-input">ya</InputRadio>
            <InputRadio Value="@false" class="form-check-input">Tidak</InputRadio>
        </InputRadioGroup>
    </div>
     <div class="form-group row">
         Date Created :
         <InputDate id="DateCreated"  @bind-Value="prod.DateCreated"></InputDate>
     </div>
    <div class="form-group row">
        Date Updated:
        <InputDate id="DateUpdated" @bind-Value="prod.DateUpdated"></InputDate>
    </div>
    <div class="form-group row">
        <label class="col=sm-2 col-form-label">Id kategori</label>
        <InputNumber id="IdKategori" @bind-Value="@prod.IdKategori" class="form-control"></InputNumber>
    </div>
    
    <div class="form-group row">
        <button type="submit" class="btn btn-primary form-control">@btnTxt</button>
        <button type="button" class="btn btn-danger form-control" @onclick="HapusProduk">Hapus</button>
    </div>
</EditForm>

@code {
    [Parameter]
    public int? Id { get; set; }
    string btnTxt= string.Empty;
    Produk prod = new Produk();

    protected async override Task OnInitializedAsync()
    {
        btnTxt = Id == null ? "Tambah Produk Baru" : "Ubah produk"; 
    }

    protected override async Task OnParametersSetAsync()
    {
        if(Id != null)
        {
            prod = await ProdukService.GetProduksById((int)Id);
        }

    }

    // Memproses submit form 
    public async void HandleSubmit()
    {
        if (Id == null)
        {
            await ProdukService.CreateProduk(prod);
        }
        else
        {
            await ProdukService.UpdateProduk(prod);
        }

    }

    async Task HapusProduk()
    {
        await ProdukService.DeleteProduk(prod.IdProduk);
    }
}
