@page "/keranjang"
@inject IKeretaService KeretaService

<h3>Kereta</h3>
@if(itemKereta == null || itemKereta.Count <= 0)
{
    <span>Tidak Ada Item di keranjang</span>
}
else
{
    <div>
        @foreach (var item in itemKereta)
        {
            <div class="item-container">
                <div class="item-image-wrapper">
                    <img src="@item.Image" class="item-image"/>
                </div>
                <div class="item-name">
                    <h5><a href="/produk/@item.IdProduk">@item.NamaProduk</a></h5>
                    <span>@item.NamaVarian</span>
                    <br>
                    <button class="btn-danger" @onclick="@(()=>DeleteItem(item))">Hapus</button>
                    <div class="item-price">
                        Rp. @item.Harga
                    </div>
                </div>
            </div>
        }
        <div class="item-price">
            Total (@itemKereta.Count): Rp. @itemKereta.Sum(item => item.Harga)
        </div>
    </div>
}

@code {
    List<ItemKereta> itemKereta = new List<ItemKereta>();
    protected override async Task OnInitializedAsync()
    {
        itemKereta = await KeretaService.GetItemKereta();
    }
    private async Task DeleteItem(ItemKereta item)
    {
        await KeretaService.HapusItem(item);
        itemKereta = await KeretaService.GetItemKereta();
    }
}
